.ProfileScreen {
    display: flex;
    justify-content: center;
    .ProfileScreen-Wrapper{
        width: 85%;
    }
}

@media (max-width:600px) {
    .ProfileScreen-Wrapper{
        width: 95% !important;
    }
}