$Background-Color: #52389D;
$Main-Text-Color: #F97432;
$Subtle-Text-Color: #ffe5d9;
$Second-Background-Color: #f7e8d5;
$Ad-Background-Color: #cfcfcf;

.SimilarOuterBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
    border: 2px solid #000;
    box-shadow: 24px;
    padding: 4px;
    overflow: scroll;
    border-radius: 10px;
    .SimilarBox{
        text-align: center;
        align-items: center;
        height: 95%;
        width: 95%;
        .SimilarBox-Title{
            width: 100%;
            margin-bottom: 20px;
            h1{
                font-weight: bold;
                color: $Background-Color;
            }
            .CloseModalButton{
                color: white;
            }
        }
    }
}


.EmptySimilarsPlaceholder{
    .NotFoundIcon{
        height: 64px;
        width: 64px;
    }
    font-size: 24px;
    font-weight: bold;
    color: $Background-Color;
}

@media (max-width: 650px) {
    .SimilarOuterBox{ 
        width: 95% !important;
        height: 95% !important;
    }    
}

@media (max-width: 550px) {
    .OuterButton{
        font-size: 12px !important;
    }
    .OuterIcon{
        height: 20px !important;
        width: 20px !important;
    }
    
}

@media (max-width: 450px) {
    .OuterButton{
        font-size: 12px !important;
    }
    .OuterIcon{
        height: 18px !important;
        width: 18px !important;
    }
}