$Background-Color: #52389D;
$Main-Text-Color: #F97432;
$Subtle-Text-Color: #ffe5d9;
$Second-Background-Color: #f7e8d5;
$Ad-Background-Color: #cfcfcf;
$Big-Text-Subtle-Color: #555555;

.Score {
    display: flex;
    flex-direction: row;
    justify-content: center !important;


    .Score-Stats {
        // width: 200px;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .Score-Score {
            border: 1px solid black;
            display: flex;
            justify-content: center;
            width: 150px;
            height: 100%;
            align-items: center;

            .Score-Score-Score {
                font-size: 28px;
            }
        }

        .Score-Time {
            display: flex;
            width: 150px;
            border: 1px solid black;
            display: flex;
            justify-content: center;
            width: 150px;
            height: 100%;
            align-items: center;

            .Score-Time-Time {
                font-size: 28px;
            }
        }
    }
    .AnswersButton{
        border-radius: 0px;
    }
}
.DialogTitle{
    background-color: $Main-Text-Color;
    color: white;
    font-weight: 200;
}
.DialogContentText{
    margin: 15px 0 5px 0 !important;
}

@media screen and (max-width: 900px) {
    .Score-Stats {
        // width: 200px;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .Score-Score {
            border: 1px solid black;
            display: flex;
            justify-content: center;
            width: 150px;
            height: 100%;
            align-items: center;

            .Score-Score-Score {
                font-size: 20px !important;
            }
        }

        .Score-Time {
            display: flex;
            width: 150px;
            border: 1px solid black;
            display: flex;
            justify-content: center;
            width: 150px;
            height: 100%;
            align-items: center;

            .Score-Time-Time {
                font-size: 20px !important;
            }
        }
    }
    .AnswersButton{
        border-radius: 0px;
        font-size: 14px !important;
    }
}

@media screen and (max-width: 770px) {
    .Score{
        .NewButton{
            border-radius: 0 !important;
            font-size: 12px !important;
            padding: 0 10px !important;
        }
        .FinishButton{
            border-radius: 0 !important;
            font-size: 12px !important;
        }
        .AnswersButton{
            font-size: 12px !important;
            padding: 0 10px !important;
        }
    }
    .Score-Stats {
        display: flex;
        justify-content: space-around;
        align-items: center;

        .Score-Score {
            border: 1px solid black;
            display: flex;
            justify-content: center;
            width: 100px !important;
            height: 100%;
            align-items: center;

            .Score-Score-Score {
                font-size: 20px !important;
            }
        }

        .Score-Time {
            display: flex;
            width: auto !important;
            padding: 0 5px !important;
            border: 1px solid black;
            display: flex;
            justify-content: center;
            height: 100%;
            align-items: center;

            .Score-Time-Time {
                font-size: 20px !important;
            }
        }
    }
    .AnswersButton{
        border-radius: 0px;
        font-size: 14px !important;
    }
}

@media screen and (max-width: 600px) {
    .ButtonText-Dissapear{
        display: none !important;
    }
    .Icon{
        margin: 0 !important;
    }
    .Score{
        .NewButton{
            border-radius: 50px 0 0 50px !important;
            font-size: 12px !important;
            padding: 0 10px !important;
        }
        .FinishButton{
            border-radius: 0 50px 50px 0 !important;
            font-size: 12px !important;
        }
        .AnswersButton{
            font-size: 12px !important;
            padding: 0 10px !important;
        }
    }
    .Score-Stats {
        display: flex;
        justify-content: space-around;
        align-items: center;

        .Score-Score {
            border: 1px solid black;
            display: flex;
            justify-content: center;
            width: 100px !important;
            height: 100%;
            align-items: center;

            .Score-Score-Score {
                font-size: 20px !important;
            }
        }

        .Score-Time {
            display: flex;
            width: auto !important;
            padding: 0 5px !important;
            border: 1px solid black;
            display: flex;
            justify-content: center;
            height: 100%;
            align-items: center;

            .Score-Time-Time {
                font-size: 20px !important;
            }
        }
    }
    .AnswersButton{
        border-radius: 0px;
        font-size: 14px !important;
    }
}

@media (max-width: 450px) {
    .DialogActions{
        height: 100px;
        display: flex !important;
        flex-direction: column !important;
        justify-content: space-between !important;
        .DialogActionButton{
            width: 100% !important;
        }
    }
}