.StartTestComponent {
    .StartTest-TestGenerator {
        text-align: center;

        .TestGenerator-Label {
            font-size: 40px;
            font-weight: bold;
        }
    }
    .StartTest-Configuration {
        width: 100%;
        .StartTest-Configuration-Problems {
            .StartTest-Configuration-Problems-Checkboxs {
                width: 100% !important;
                display: flex;
                flex-direction: row;
            }
        }
    }
}