$Purple-Text: #52389d;
$Main-Orange: #f97432;

.StartTestComponent {
    .StartTest-TestGenerator {
        text-align: center;

        .TestGenerator-Label {
            font-size: 40px;
            font-weight: bold;
            color: $Main-Orange;
        }
        .TestGenerator-Content{
            display: flex;
            justify-content: space-around;
            padding: 10px 0;
            .TestGenerator-Content-Left{
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                .Left-Top{
                    h2{
                        font-size: 76px;
                        line-height: 72px;
                        font-weight: bold;
                    }
                    h4{
                        font-size: 30px;
                        color: $Purple-Text;
                    }
                }
                .Left-Bottom{
                    ul{
                        li{
                            text-align: left;
                            font-size: 24px;
                        }
                    }
                }
            }
            .TestGenerator-Content-Right{
                img{
                    height: 450px;
                }
            }
        }
    }
    .StartTest-Configuration {
        width: 100%;
        .StartTest-Configuration-Problems {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .StartTest-Configuration-Problems-Checkboxs {
                display: flex;
                flex-direction: row;
            }
        }
    }

    .StartTest-Erovnuli{
        text-align: center;
        .Erovnuli-Label{
            font-size: 40px;
            font-weight: bold;
            color: $Main-Orange;
        }
        .Erovnuli-Configuration{
            display: flex;
        }
        .Erovnuli-Content{
            display: flex;
            justify-content: space-around;
            padding: 10px 0;
            .Erovnuli-Content-Left{
                img{
                    height: 420px;
                }
            }
            .Erovnuli-Content-Right{
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                .Left-Top{
                    h2{
                        font-size: 76px;
                        line-height: 72px;
                        font-weight: bold;
                    }
                    h4{
                        font-size: 30px;
                        color: $Purple-Text;
                    }
                }
                .Left-Bottom{
                    ul{
                        li{
                            text-align: center;
                            font-size: 24px;
                        }
                    }
                }
            }
        }
    }

    .StartTest-Button{
        margin: 10px 0 40px 0;
    }
}


@media (max-width:1250px){
    .Left-Top{
        h2{
            font-size: 60px !important;
        }
        h4{
            font-size: 24px !important;
        }
    }
    .Erovnuli-Content-Right{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        .Left-Top{
            h2{
                font-size: 60px !important;
            }
            h4{
                font-size: 24px !important;
            }
        }
        
    }
}

@media (max-width:1200px){
    .Left-Top{
        h2{
            font-size: 56px !important;
        }
        h4{
            font-size: 24px !important;
        }
    }
    .Erovnuli-Content-Right{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        .Left-Top{
            h2{
                font-size: 56px !important;
            }
            h4{
                font-size: 24px !important;
            }
        }
        
    }
    ul{
        li{
            font-size: 16px !important;
        }
    }
    img{
        height: 350px !important;
    }
}

@media (max-width:1200px){
    .StartTest-TestGenerator {
        height: fit-content;
    }
    .TestGenerator-Content{
        flex-direction: column-reverse !important;
    }
    .Erovnuli-Content{
        flex-direction: column !important;
    }

    .Left-Top{
        h2{
            font-size: 44px !important;
            line-height: 50px !important;
        }
        h4{
            font-size: 24px !important;
        }
    }
    .Erovnuli-Content-Right{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        .Left-Top{
            h2{
                font-size: 44px !important;
                line-height: 50px !important;
            }
            h4{
                font-size: 24px !important;
            }
        }
        
    }
    ul{
        li{
            font-size: 16px !important;
        }
    }
    img{
        height: 300px !important;
    }
}

@media (max-width:770px){
    .StartTest-Configuration-Problems{
        display: flex;
        flex-direction: column !important;
        .StartTest-Configuration-Problems-Checkboxs{
            justify-content: space-between;
        }
    }
}

@media (max-width:490px){
    img{
        height: 250px !important;
    }
    .StartTest-Configuration-Problems{
        display: flex; 
        flex-direction: column !important; 
        
    }
}

@media (max-width:420px){
    img{
        height: 225px !important;
    }
    .StartTest-Configuration-Problems{
        display: flex; 
        flex-direction: column !important; 
        
    }
}