$Background-Color: #52389D;
$Main-Text-Color: #F97432;
$Subtle-Text-Color: #ffe5d9;
$Second-Background-Color: #f7e8d5;

.UserInfo {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;


    .UserInfo-Header {
        height: 200px;
        width: 85%;
        display: flex;
        flex-direction: row;

        .UserInfo-Header-Left {
            display: flex;
            flex-direction: column;
            justify-content: center;

            width: 200px;

            .img {
                // height: 64px;
                // width: 64px;
                // border-radius: 75px !important;
            }
        }

        .UserInfo-Header-Right {
            flex-grow: 1 !important;

            .UserInfo-Header-Right-Top {
                display: flex;
                flex-direction: row;
                margin-top: 25px;
                justify-content: space-between;
                align-items: center;

                .UserInfo-Header-Right-Top-Icons {
                    display: flex;
                    flex-direction: row;
                }
                h3{
                    font-weight: bold;
                }
            }

            .UserInfo-Header-Right-Middle {
                margin-top: 5px;

                .UserInfo-Header-Right-Middle-Stats {
                    display: flex;
                    flex-direction: row;

                    div {
                        margin-right: 50px;

                        h3 {
                            font-size: 16px;
                            letter-spacing: -0.1px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:1200px) {
    .UserInfo-Header {
        width: 100% !important;
        .UserInfo-Header-Left {
            img{
                height: 175px !important;
                width: 175px !important;
                border-radius: 50% !important;
            }
            margin-right: 10px;
        }
    }
}

@media (max-width:700px) {
    .UserInfo-Header {
        width: 100% !important;
        .UserInfo-Header-Left {
            img{
                height: 175px !important;
                width: 175px !important;
                border-radius: 50% !important;
            }
            margin-right: 10px;
        }
        .UserInfo-Header-Right {

            .UserInfo-Header-Right-Top {
                width: auto !important;

                .UserInfo-Header-Right-Top-Icons {
                    display: flex;
                    flex-direction: row;
                }
                h3{
                    font-weight: bold;
                }
            }

            .UserInfo-Header-Right-Middle {
                margin-top: 5px;

                .UserInfo-Header-Right-Middle-Stats {
                    display: grid !important;
                    grid-template-columns: 1fr 1fr;

                    div {
                        margin-right: 0px !important;

                        h3 {
                            font-size: 16px;
                            letter-spacing: -0.1px;
                        }
                    }
                }
            }
        }
    }
    
}

@media (max-width:600px) {
    .UserInfo-Header {
        width: 100% !important;
        .UserInfo-Header-Left {
            img{
                height: 150px !important;
                width: 150px !important;
            }
        }
        .UserInfo-Header-Right {

            .UserInfo-Header-Right-Top {
                width: auto !important;

                h3{
                    font-size: 20px !important;
                }
            }

            .UserInfo-Header-Right-Middle {
                margin-top: 5px;

                .UserInfo-Header-Right-Middle-Stats {
                    display: grid !important;
                    grid-template-columns: 1fr !important;

                    div {
                        margin-right: 0px !important;

                        h3 {
                            font-size: 16px;
                            letter-spacing: -0.1px;
                        }
                    }
                }
            }
        }
    }
    
}

@media (max-width:600px) {
    .UserInfo-Header-Left {
        margin-right: 20px !important;
        width: auto !important;
    }
    .UserInfo-Header-Right-Top {
        width: auto !important;
        // flex-direction: column !important;
        // justify-content: left !important;
        // align-items: flex-start !important;
        h3{
            font-size: 16px !important;
        }
    }
}

@media (max-width:500px) {
    .UserInfo-Header-Right-Top {
        flex-direction: column !important;
        justify-content: left !important;
        align-items: flex-start !important;
        h3{
            background-color: red;
            font-size: 16px !important;
            margin-bottom: 5px !important;
        }
    }
    
}