$Background-Color: #52389D;
$Main-Text-Color: #F97432;
$Subtle-Text-Color: #ffe5d9;
$Second-Background-Color: #f7e8d5;
$Ad-Background-Color: #cfcfcf;

.SolutionOuterBox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: "90%";
    border: '2px solid #000';
    box-shadow: 24px;
    padding: 4px;
    overflow: 'scroll';
    border-radius: 10px;
    .SolutionBox{
        text-align: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 95%;
        width: 95%;
        .SolutionBox-Title{
            h1{
                font-weight: bold;
                color: $Background-Color;
            }
        }
        .SolutionBox-VideoPlayer{
            width: 100% !important;
            height: 80% !important;
        }
        .SolutionBox-NotFound{
            width: 100% !important;
            height: 80% !important;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border: 1px solid gray;
            border-radius: 12px;
            .Icon{
                height: 192px;
                width: 192px;
                color: #F97432;
            }
            h4{
                font-size: 32px;
                color: #52389D;
            }
        }
        .SolutionBox-Bottom{
            width: 100%;
            display: flex;
            height: 50px;
            justify-content: space-between;
            align-items: center;
            h5{
                color: $Background-Color;
                margin-bottom: 0;
            }
            .CloseModalButton{
                color: white;
            }
            a:hover{
                text-decoration: underline;
            }
        }
    }
}


@media (max-width: 650px) {
    .SolutionOuterBox{ 
        width: 95% !important;
        height: 95% !important;
        
        .SolutionBox-Bottom{
            flex-direction: column !important;
            height: 120px !important;
            justify-content: space-around !important;
            .CloseModalButton{
                width: 100%;
            }
        }
    }    
}

@media (max-width: 550px) {
    .OuterButton{
        font-size: 12px !important;
    }
    .OuterIcon{
        height: 20px !important;
        width: 20px !important;
    }
    
}

@media (max-width: 450px) {
    .OuterButton{
        font-size: 12px !important;
    }
    .OuterIcon{
        height: 18px !important;
        width: 18px !important;
    }
}