.AnswersBox {
    display: flex;
    flex-direction: column;

    .AnswersText {
        text-align: center;
    }

    .Answer-Radio-Tag-Label {
        text-align: center;
    }
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 0.5px solid slategrey;
}