.ThesisScreen {
    .TheoryScreen-Thesis-Search {
        height: 100px !important;
        text-align: center;
        display: flex;
        align-items: center;

        .SearchBar {
            display: flex;
            justify-content: center;
        }
    }
}