.ScrollButtons {
    position: fixed;
    right: 10px;
    // top: 0;
    justify-content: center;
    opacity: 0.6 !important;

    overflow: scroll;
    max-height: 100%;
    width: 75px;
    
    
    .ScrollButtons-Div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .ScrollButtons-Button{
            width: 60px !important;
            height: 40px !important;
            align-items: center;
            display: flex;
            justify-content: center;
            margin-bottom: 2px;
            border-radius: 5px;
        }
        .ScrollButtons-Button:hover{
            cursor: pointer;
        }
    }
}

.ScrollButtons::-webkit-scrollbar {
    width: 4px;
}

.ScrollButtons::-webkit-scrollbar-thumb {
    background: gray;
}


@media (max-width: 1000px) {
    .ScrollButtons {
        width: 50px !important;
        right: 0px !important;
        .ScrollButtons-Div {
            width: 100%;
            .ScrollButtons-Button {
                width: 45px !important;
                height: 45px !important;
                font-size: 14px !important;
            }
        }
    }
    .ScrollButtons::-webkit-scrollbar {
        width: 0px !important;
    }
}

.ScrollButtons:hover {
    opacity: 1 !important;
    animation: AnimateOpacity 0.15s;
}

@keyframes AnimateOpacity {
    from {
        opacity: 0.6;
    }

    to {
        opacity: 1;
    }
}