$Background-Color: #52389D;
$Main-Text-Color: #F97432;
$Subtle-Text-Color: #8b8b8b;
$Second-Background-Color: #f1f0f3;
$Ad-Background-Color: #cfcfcf;
$Big-Text-Subtle-Color: #555555;

.PrivacyScreen{
    display: flex;
    justify-content: center;
    .PrivacyScreen-Wrapper{
        width: 85%;
        .PrivacyScreen-Label{
            h1{
                text-align: center;
                font-weight: bold;
                color: $Main-Text-Color;
                margin: 30px 0;
            }
        }
        .PrivacyScreen-Content{
            color: $Big-Text-Subtle-Color;
            h2,h1{
                color: $Main-Text-Color;
            }
            h3{
                color: $Background-Color;
            }
            strong{
                color: $Main-Text-Color;
            }
        }
    }
}