$Background-Color: #52389D;
$Main-Text-Color: #F97432;
$Subtle-Text-Color: #ffe5d9;
$Second-Background-Color: #f7e8d5;

.TheoryScreen {
    display: flex;
    justify-content: center;
    .TheoryScreen-Wrapper{
        width: 85%;
        .TheoryScreen-Search {
            height: 100px;
            text-align: center;
            display: flex;
            align-items: center;

            .SearchBar {
                display: flex;
                justify-content: center;
            }

            .Search-Dropdown {
                position: absolute;
                top: 0;
            }
        }

        .TheoryScreen-Label {
            text-align: center;
        }

        .TheoryScreen-Hero{
            text-align: center;
            display: flex;
            justify-content: center;
            img{
                height: 344px;
            }
            .Hero-Labels{
                text-align: left;
                display: flex;
                flex-direction: column;
                justify-content: center;
                .Labels-Top{
                    font-size: 72px;
                    line-height: 80px;
                    color: $Main-Text-Color;
                }
                .Labels-Bottom{
                    color: $Background-Color;
                    font-size: 24px;
                }
            }
        }

        .TheoryScreen-Choose {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            margin-bottom: 30px;

            .Choose-Button{
                .Choose-Tab {
                    display: flex;
                    padding: 10px;
                    border-radius: 25px;
                    width: 100% !important;
                    justify-content: center;
                }

                Button {
                    height: 200px;
                    width: 90%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50px;
                    text-decoration: none !important;
                    transition: all .4s ease;

                    .ChooseIcon {
                        font-size: 128px;
                    }
                }

                Button:hover {
                    background-color: #F97432;
                    color: white;
                }
            }
        }
    }
}

// .animate-charcter{
//     transition: all 2.5s ease;
// }

// .animate-charcter:hover
// {
//    text-transform: uppercase;
//   background-image: linear-gradient(
//     -225deg,
//     #231557 0%,
//     #44107a 29%,
//     #ff1361 67%,
//     #fff800 100%
//   );
//   background-size: auto auto;
//   background-clip: border-box;
//   background-size: 200% auto;
//   color: #fff;
//   background-clip: text;
//   text-fill-color: transparent;
//   -webkit-background-clip: text;
//   -webkit-text-fill-color: transparent;
//   animation: textclip 2s linear infinite;
//   display: inline-block;
//     //   font-size: 190px;
//     transition: all 0.5s ease;
// }

// @keyframes textclip {
//   to {
//     background-position: 200% center;
//   }
// }


@media (max-width:1000px){
    .TheoryScreen-Wrapper{
        width: 95% !important;
        .Hero-Labels{
            .Labels-Top{
                font-size: 56px !important;
                line-height: 60px !important;
            }
            .Labels-Bottom{
                font-size: 20px !important;
            }
        }
    }
}

@media (max-width:800px){
    .TheoryScreen-Wrapper{
        .TheoryScreen-Hero{
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img{
                height: 344px;
                width: 550px;
            }
            .Hero-Labels{
                .Labels-Top{
                    font-size: 76px !important;
                    line-height: 88px !important;
                    text-align: center;
                }
                .Labels-Bottom{
                    text-align: center;
                    font-size: 24px;
                }
            }
        }
    }
}

@media (max-width:700px){
    .TheoryScreen-Wrapper{
        .TheoryScreen-Hero{
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img{
                height: 312px !important;
                width: 480px !important;
            }
            .Hero-Labels{
                .Labels-Top{
                    font-size: 76px !important;
                    line-height: 88px !important;
                    text-align: center;
                }
                .Labels-Bottom{
                    text-align: center;
                    font-size: 24px;
                }
            }
        }
        .TheoryScreen-Choose {
            display: grid;
            grid-template-columns: 1fr !important;

            .Choose-Button{
                .Choose-Tab {
                    display: flex;
                    padding: 10px;
                    border-radius: 25px;
                    width: 100% !important;
                    justify-content: center;
                }

                Button {
                    height: 200px;
                    width: 90%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50px;
                    text-decoration: none !important;

                    .ChooseIcon {
                        font-size: 128px;
                    }
                }
            }
        }
    }
}

@media (max-width:500px) {
    .TheoryScreen-Wrapper{
        .TheoryScreen-Hero{
            img{
                height: 264px !important;
                width: 420px !important;
            }
            .Hero-Labels{
                .Labels-Top{
                    font-size: 48px !important;
                    line-height: 52px !important;
                    text-align: center;
                }
                .Labels-Bottom{
                    text-align: center;
                    font-size: 20px !important;
                    margin-bottom: 20px !important;
                }
            }
        }
    }
}

@media (max-width:450px) {
    .TheoryScreen-Wrapper{
        .TheoryScreen-Hero{
            img{
                height: 220px !important;
                width: 380px !important;
            }
            .Hero-Labels{
                .Labels-Top{
                    font-size: 44px !important;
                    line-height: 58px !important;
                    text-align: center;
                }
                .Labels-Bottom{
                    text-align: center;
                    font-size: 18px !important;
                    margin-bottom: 20px !important;
                }
            }
        }
    }
}

@media (max-width:400px) {
    .TheoryScreen-Wrapper{
        .TheoryScreen-Hero{
            img{
                height: 200px !important;
                width: 360px !important;
            }
            .Hero-Labels{
                .Labels-Top{
                    font-size: 40px !important;
                    line-height: 54px !important;
                    text-align: center;
                }
                .Labels-Bottom{
                    text-align: center;
                    font-size: 16px !important;
                    margin-bottom: 0px !important;
                }
            }
        }
    }
}