.MyTests {
    .MyTests-Dropdown{
        display: flex;
        flex-direction: row;
        width: 450px;
        justify-content: space-between;
    }
    .MyTests-TestViewer {
        .MyTests-TestViewer-Tests {
            height: 700px;
            overflow: scroll;
            position: relative;

            .MyTests-TestViewer-Test {
                position: relative;

                .ProblemLabel {
                    position: absolute;
                    top: 6.4%;
                    left: 4.25%;
                    z-index: 1;

                    h3 {
                        font-size: 28px;
                    }
                }

                .PDFButtons {
                    width: 100%;
                    display: flex;
                    position: absolute;
                    bottom: 10%;
                    justify-content: center;
                }
            }

            .Open-AnswerSheet-Button {
                position: absolute;
                top: 0;
            }
        }
    }
}