.GeometryScreen {
    display: flex;
    justify-content: center;
    .GeometryScreen-Wrapper{
        width: 85%;
        .TheoryScreen-Geometry-Search {
            height: 100px;
            text-align: center;
            display: flex;
            align-items: center;

            .SearchBar {
                display: flex;
                justify-content: center;
            }
        }
    }
}