header {
    background-color: white;

    .nav-link.active {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: #ffcc00;
            /* Your desired underline color */
            bottom: -2px;
            left: 0;
        }
    }

}