$Background-Color: #52389D;
$Main-Text-Color: #F97432;
$Subtle-Text-Color: #8b8b8b;
$Second-Background-Color: #f1f0f3;
$Ad-Background-Color: #cfcfcf;
$Big-Text-Subtle-Color: #555555;

.NotFoundScreen{
    display: flex;
    justify-content: center;
    background-image: url('../../../public/images/Error404Background.png');
    background-size: cover;
    height: calc(100vh - 50px);

    .NotFoundScreen-Wrapper{
        width: 85%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img{
            height: 256px;
            width: 356px;
        }
        h2{
            color: $Background-Color;
            span{
                color: $Main-Text-Color;
            }
        }
        h4{
            color: $Big-Text-Subtle-Color;
            font-size: 24px;
        }
    }
}