.AnswerSheet-Answer {
    display: flex;
    flex-direction: row !important;
    justify-content: space-around;

    // justify-content: space-evenly;
    .Answer-CorrectnessIcon {
        margin-right: 10px;
    }

    div {
        width: 20px;
    }

    .AnswerSheet-Letters {
        display: flex;
        width: 125px;
        justify-content: space-between;
        text-align: center;
    }
}