.AnswerSheet-Answer {
    display: flex;
    flex-direction: row !important;
    justify-content: space-around;

    // justify-content: space-evenly;
    .Answer-CorrectnessIcon {
        margin-right: 10px;
    }

    div {
        width: 20px;
    }

    .AnswerSheet-Letters {
        display: flex;
        width: 125px;
        justify-content: space-between;
        text-align: center;
    }

    .Answer-Custom {
        display: flex;
        height: 50px;
        justify-content: space-around !important;
        width: 100%;
        align-items: center;

        .Answer-Choose-Photo {
            align-items: center;
            width: 80%;
            display: flex;
            justify-content: right;

            h6 {
                font-size: 12px;
            }
        }
    }
}